<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.satish.xchange" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Xchange"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Lend"
            android:label="@string/title_activity_lend"
            android:parentActivityName=".Xchange" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.satish.xchange.Xchange" />
        </activity>
        <activity
            android:name=".Borrow"
            android:label="@string/title_activity_borrow"
            android:parentActivityName=".Xchange" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.satish.xchange.Xchange" />
        </activity>
        <activity
            android:name=".Retrieve"
            android:label="@string/title_activity_retrieve"
            android:parentActivityName=".Xchange" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.satish.xchange.Xchange" />
        </activity>
        <activity
            android:name=".ReturnB"
            android:label="@string/title_activity_return_b"
            android:parentActivityName=".Xchange" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.satish.xchange.Xchange" />
        </activity>
        <activity
            android:name=".Lended"
            android:label="@string/title_activity_lended"
            android:parentActivityName=".Xchange" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.satish.xchange.Xchange" />
        </activity>
        <activity
            android:name=".Borrowed"
            android:label="@string/title_activity_borrowed"
            android:parentActivityName=".Xchange" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.satish.xchange.Xchange" />
        </activity>
    </application>

</manifest>
